@page "{cinema?}" 
@* https://localhost:7012/Ukraine/Rivne
https://localhost:7012/Index/Ukraine *@
@model IndexModel
@{
    ViewData["Title"] = "Home page";


}
@* https://localhost:7012/Index?cinema=Ukraine&city=Rivne *@
<h3> @Model.Cinema</h3>
@* <h2>@Request.Query["city"]</h2> *@
<h2>@(RouteData.Values["cinema"])</h2>
<div class="text-center">
    <h2 class="display-4">@Model.Message</h2>
    <h2 class="display-4">Cinema</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Title</th>
                <th scope="col">Director</th>
                <th scope="col">Style</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                <th scope="row">@movie.Id</th>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                    <td>@movie.Style</td>
                    @* <td><a href="./Movies/InfoMovie/@movie.Id">FullInfo</a></td> *@
                    <td><a asp-page="Movies/InfoMovie" asp-route-id="@movie.Id" >FullInfo</a></td>

            </tr>
            }
           
        </tbody>
    </table>
</div>
